<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ed4All</title>
    <link href="style3.css" rel="stylesheet">
  </head>

  <body>
    <div class="logo"><img class="Image Image1"
      src="images for project/Ed4All.png"
      alt="The logo of our project - Ed4All"
      width="50px"
      height="50px">
    </div>


    <h1><header class="Main-Header">Ed4All</h1>
    <h3>We build an EDvantage</h3>
    </header>

    <div style="text-align:center">

      <button class="button button1"><a href="index.html" style="display:block;height:100%;width:100%">Home Page</a></button> 
      <button class="button button2"><a href="problem.html" style="display:block;height:100%;width:100%">Problem</a></button> 
      <button class="button button3"><a href="Goals of solution.html" style="display:block;height:100%;width:100%">Goals</a></button> 
      <button class="button button4"><a href="prototype.html" style="display:block;height:100%;width:100%">Our Prototype</a></button> 
     </div> <br>

    <h2><b><u>WHAT ARE THE GOALS OF OUR SOLUTION - Ed4All?</u></b></h2>
      <li>Provide free access to education</li>
      <li>Eradicate Language barriers</li>
      <li>Create a comfortable learning environment</li>

      <h2>Check out an acronym about our project.</h2> <br>
      <h3>This short yet sweet acronym conveyes the entire motive and aims of Ed4All.</h3>

      <img 
      src="images for project/Ed4All Acronym.jpg"
      alt="An acronym for the project Ed4All. E -  Education and a, D - Differentiated Instruction, 4, A - An Adaptive learning environment, L - Literate world and, L- Learning while enjoying"
      width="500px"
      height="300px"
      class="center">
      </body>
      </html>

  

  
  
