<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ed4All</title>

    <link href="{{url_for('static',filename='styles/style3.css')}}" rel="stylesheet">
    <style>
      html {padding:32px; background-color:peachpuff;}
      body {margin:10px; background-color:rgb(180, 194, 207);}
    </style>
  </head>
  
  
   <body>


  <body>
    <div class="logo"><img class="Image Image1"
      src="{{url_for('static',filename='photos/Ed4All.png')}}"
      alt="The logo of our project - Ed4All"
      width="50px"
      height="50px">
    </div>

    <h1><header class="Main-Header"><b><u>Ed4All</u></b></h1>
        <h3><u><b>We build an EDvantage</b></u></h3>
      </header>

    <div style="text-align:center">
      <button class="button button1"><a href="{{url_for('home')}}" style="display:block;height:100%;width:100%">Home Page</a></button> 
      <button class="button button2"><a href="{{url_for('problem')}}" style="display:block;height:100%;width:100%">Problem</a></button> 
      <button class="button button3"><a href="{{url_for('solution')}}" style="display:block;height:100%;width:100%">Goals</a></button> 
      <button class="button button4"><a href="{{url_for('prototype')}}" style="display:block;height:100%;width:100%">Our Prototype</a></button> 
    </div> <br>

           <div class="topic2">
            <h2><b><u> WHAT ARE THE GOALS OF OUR SOLUTION - Ed4All?</u></b></h2></div>
            <div class="container">
              <ul class="myUL">
      <li>Provide free access to education</li>
      <li>Eradicate Language barriers</li>
      <li>Create a comfortable learning environment</li>
      </ul>
      </div>

    

      <h2>Check out an acronym about our project.</h2>
      <h3>This short yet sweet acronym conveyes the entire motive and aims of Ed4All.</h3>
      <br>

      <div class="acronym">
      <p style="text-align:center;"><img 
      src="{{url_for('static',filename='photos/Ed4All Acronym.jpg')}}
      alt="An acronym for the project Ed4All. E -  Education and a, D - Differentiated Instruction, 4, A - An Adaptive learning environment, L - Literate world and, L- Learning while enjoying"
      width="500px"
      height="300px"
      class="center">
      </p>
    </div>
      </body>
      </html>

  
