<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ed4All</title>
    <link href="style.css" rel="stylesheet">
    <style>
                html {padding:32px; background-color:peachpuff;}
                body {margin:10px; background-color:rgb(180, 194, 207);}
    </style>
  </head>
  
  
   <body>

  
    <div class="logo">
      <img class="Image Image1"
      src="images for project/Ed4All.png"
      alt="The logo of our project - Ed4All"
      width="50px"
      height="50px">
    
    </div>

    <h1><header class="Main-Header"><b><u>Ed4All</u></b></h1>
        <h3><u><b>We build an EDvantage</b></u></h3>
        </header>
  
        <div style="text-align:center">

            <button class="button button1"><a href="index.html" style="display:block;height:100%;width:100%">Home Page</a></button> 
            <button class="button button2"><a href="problem.html" style="display:block;height:100%;width:100%">Problem</a></button> 
            <button class="button button3"><a href="Goals of solution.html" style="display:block;height:100%;width:100%">Goals</a></button> 
            <button class="button button4"><a href="prototype.html" style="display:block;height:100%;width:100%">Our Prototype</a></button> 
           </div> <br>


    <h2><b><u><span style="background-color:	#e8d5d5">MEET THE TEAM!</span></u></b></h2>
        <article> <br>
          <div class="container">
            <div class="image">
        <img src="images for project/Aishwaryaa- Front side.jpeg"
                style="margin-left: 15.7em;"
                alt="A picture of one of the team members. Her name is Aishwaryaa"
                width="150px"
                height="180px"
                class="center"
                >
                </div>
            <div class="text">
                  <h1>Hello dear surfers! My name is Aishwaryaa. 
                I am a 13 year old teen who enjoys playing Chess, Coding, Poetry, 3D Design, Innovation and Learning! 
                But unfortunately there are many children and adults out there who have no access to education and learning. 
                Therefore, to solve this problem, my teammate and I present our solution, Ed4All. 
                Ed4All targets towards building a world where each and every student receives Quality Education! 
              </h1>
              </div>
              </div>
            
        </article> <br>

        <article> <br>
          <div class="container2">
            <div class="image2">
          <img    src="images for project/Headshot Photo of Kim.jpg"
                  style="margin-right: 15.7em;"
                  alt="A picture of one of the team members. Her name is Kim B"
                  width="150px"
                  height="180px"
                  class="center"
                  >

                </div>
                <div class="text2">
                      <h1>Hello dear surfers! My name is Kim!
                        I'm a rising high school senior interested in tech. I developed the backend for this website.

                  </h1>
                  </div>
                  </div>
                
            </article> <br>




      <h2><b><u><span style="background-color:	#e8d5d5">SOLUTION</span></u></b></h2>
      <article> <br>
       
          <div class="text3">
                <h1>Our project, Ed4All, aims towards achieveing the targets of the Sustainable Development Goal 4 - Quality Education. Ed4All does so by eradicating the language barriers to ease and suit a student's learning needs. A student can choose the language he/she is fluent or comfortable with and the rest will be taken care by Ed4All. It assists you with taking down important notes during lessons, daily tasks to be completed, assignments to complete and much much more! <br>
                  <br>
                  <a href="Goals of solution.html">Solution</a>
            </h1>
            </div>
            </div>
          
      </article> <br>




      <h2><b><u><span style="background-color:	#e8d5d5">PROTOTYPE</span></u></b></h2>
     <article>
        <p3> <b> <p style="text-align:center;">
            Click on the link below to view our prototype! <br>
             <a href="prototype.html">Our prototype</a>
          </p>
        </b>
        </p3>
        </article>
      
  </body>
</html>
