<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ed4All</title>
    <link href="style2.css" rel="stylesheet">
  </head>

  <body>
    <div class="logo"><img class="Image Image1"
      src="images for project/Ed4All.png"
      alt="The logo of our project - Ed4All"
      width="50px"
      height="50px">
    </div>


    <h1><header class="Main-Header">Ed4All</h1>
    <h3>We build an EDvantage</h3>
    </header>

    <nav>
    <a href="index.html">Home Page</a>
    <a href="problem.html">Problem</a>
    <a href="Goals of solution.html">Goals</a>
    <a href="prototype.html">Our Prototype</a>
    </nav> <br>

    <h2><b>WHAT IS THE PROBLEM WE ARE SOLVING?</b></h2>

    <h3>As rightly stated by Nelson Mandela, “Education is the most powerful weapon which you can use to change the world.” But unfortunately many people do not have access to learning. Due to this, THOUSANDS do not have the basic knowledge on occupations and how to build their own successful career. This leads to countless challenges and difficulties in a person's life. But we have shown enough sympathy and it is time we start eradicating this horrible disease. This is the reason why, we have come up with Ed4All; We build an EDvantage.
      To summarize, our <b>Problem Statement</b> was: How can we reduce illiteracy rates and provide Education for all? 
    </h3>

    <img 
    src="images for project/Inadequate resources pic.jpg"
    alt="A picture of Inedaquate resources to provide access to learning."
    width="200px"
    height="150px"
    class="left"> <br>


    <img
    src="images for project/lack of technology.jpg"
    alt="A picture of lack of access to technology and the internet."
    width="150px"
    height="150px"
    class="right"> <br>

  </body>
  </html>



