<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ed4All</title>
    <link href="{{url_for('static',filename='styles/style2.css')}}" rel="stylesheet">
    <style>
      html {padding:32px; background-color:peachpuff;}
      body {margin:10px; background-color:rgb(180, 194, 207); padding:100px;}
</style>
  </head>

  <body>
    <div class="logo">
      <img class="Image Image1"
       src="{{url_for('static',filename='photos/Ed4All.png')}}
      alt="The logo of our project - Ed4All"
      width="50px"
      height="50px">
    </div>


    <h1><header class="Main-Header"><u>Ed4All</u></h1>
    <h3><u>We build an EDvantage</u></h3>
    </header>

    <div style="text-align:center">
      <button class="button button1"><a href="{{url_for('home')}}" style="display:block;height:100%;width:100%">Home Page</a></button> 
      <button class="button button2"><a href="{{url_for('problem')}}" style="display:block;height:100%;width:100%">Problem</a></button> 
      <button class="button button3"><a href="{{url_for('solution')}}" style="display:block;height:100%;width:100%">Goals</a></button> 
      <button class="button button4"><a href="{{url_for('prototype')}}" style="display:block;height:100%;width:100%">Our Prototype</a></button> 
    </div> <br>

     <div class="heading">
    <h2><b><u>WHAT IS THE PROBLEM WE ARE SOLVING?</u></b></h2>
  </div>

    <h2>As rightly stated by Nelson Mandela, “Education is the most powerful weapon which you can use to change the world.” But unfortunately many people do not have access to learning. One of the main reasons why is due to LANGUAGE BARRIERS. People find it difficult to communicate and gain knowledge about important and compeling worldwide cases/events. But we have shown enough sympathy and it is time we start eradicating this horrible disease. This is the reason why, we have come up with Ed4All; We build an EDvantage. 
      <h2>To summarize, our <b>Problem Statement</b> was: How can we reduce illiteracy rates and provide Education for all? </h2>
    </h2>

    <div class="resource">
      <p style="text-align:center;"><img 
    src="{{url_for('static',filename='photos/Inadequate resources pic.jpg')}}
    alt="A picture of Inedaquate resources to provide access to learning."
    width="200px"
    height="160px"
    class="center">
    </p>

    <div class="text">
    <h3>
      Some of the reasons for an increase in <b>Language Barriers</b> is an inadequate amount of resources and lack of access to <b>Technology</b>.
    </h3>
    </div>
  </div> <br>

  </body>
  </html>



