<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ed4All</title>
    <link href="{{url_for('static',filename='styles/style4.css')}}" rel="stylesheet">
    <style>
      html {padding:32px; background-color:peachpuff;}
      body {margin:10px; background-color:rgb(180, 194, 207); padding:100px;}
</style>
  </head>

  <body>
    <div class="logo">
      <img class="Image Image1"
      src="{{url_for('static',filename='photos/Ed4All.png')}}"
      alt="The logo of our project - Ed4All"
      width="50px"
      height="50px">
    </div>

    <h1><header class="Main-Header"><u>Ed4All</u></h1>
    <h3><u>We build an EDvantage</u></h3>
    </header>

    <div style="text-align:center">
      <button class="button button1"><a href="{{url_for('home')}}" style="display:block;height:100%;width:100%">Home Page</a></button> 
      <button class="button button2"><a href="{{url_for('problem')}}" style="display:block;height:100%;width:100%">Problem</a></button> 
      <button class="button button3"><a href="{{url_for('solution')}}" style="display:block;height:100%;width:100%">Goals</a></button> 
      <button class="button button4"><a href="{{url_for('prototype')}}" style="display:block;height:100%;width:100%">Our Prototype</a></button> 
     </div> <br>
     <br>
     <br>

     <div style="text-align:center">

      <div class="form-control-1">
        <label for="Language" id="Languages">
            Choose a language.
        </label>
      

        <div style="text-align:center"></div>
        
        <!-- Dropdown options -->
        <select name="role" id="role">
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="Finnish">Finnish</option>
            <option value="German">German</option>
            <option value="Mandarin">Mandarin</option>
        </select>
    </div>

    <div style="text-align:center">

    <div class="form-control-2">
        <label for="Translation" id="Translation">
            Translation here. 
        </label>
      </div>
      </div>
    </div>
    
    <div style="text-align:center">
        
        <!-- Dropdown options -->
        <select name="name" id="role">
            <option value="English">English</option>
            <option value="Spanish">Spanish</option>
            <option value="Finnish">Finnish</option>
            <option value="German">German</option>
            <option value="Mandarin">Mandarin</option>
        </select>
    </div>
    <br>
    <br>

    <div style="text-align:center">
      
        <div style="text-align:center">

    <form class="Form form1">
        <label for="fname">Enter text here</label><br>
        <input type="text" id="fname" name="fname" value="Enter text" size="40px" style="font-size:16pt; height: 100px;"><br>
        <label for="lname">Translation here:</label><br>
        <input type="text" id="lname" name="lname" value="Translation" size="40px" style="font-size:16pt; height: 100px;"><br>
      </form>
      </div>




  <br>

      </body>
      </html>


