<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ed4All</title>
    <link href="{{url_for('static',filename='styles/style4.css')}}" rel="stylesheet">
    <style>
      html {padding:32px; background-color:peachpuff;}
      body {margin:10px; background-color:rgb(180, 194, 207); padding:100px;}
</style>
  </head>

  <body>
    <div class="logo">
      <img class="Image Image1"
      src="{{url_for('static',filename='photos/Ed4All.png')}}"
      alt="The logo of our project - Ed4All"
      width="50px"
      height="50px">
    </div>

    <h1><header class="Main-Header"><u>Ed4All</u></h1>
    <h3><u>We build an EDvantage</u></h3>
    </header>

    <div style="text-align:center">
      <button class="button button1"><a href="{{url_for('home')}}" style="display:block;height:100%;width:100%">Home Page</a></button> 
      <button class="button button2"><a href="{{url_for('problem')}}" style="display:block;height:100%;width:100%">Problem</a></button> 
      <button class="button button3"><a href="{{url_for('solution')}}" style="display:block;height:100%;width:100%">Goals</a></button> 
      <button class="button button4"><a href="{{url_for('prototype')}}" style="display:block;height:100%;width:100%">Our Prototype</a></button> 
     </div> <br>
     <br>
     <br>

     <div style="text-align:center">
      <div class="form-control-1">
        <label for="Language" id="Languages">
            Start with:
        </label>
        <div style="text-align:center"></div>
      
      <form method="POST" action="{{ url_for('prototype') }}">
        <select name="start" id="role">
          {% for lang in data %}
          <option value="{{ lang.languages }}">{{ lang.languages }}</option>
          {% endfor %}
        </select>

        <label for="Language" id="Languages">
          Translate to:
        </label>

        <select name="end" id="role">
          {% for lang in data %}
          <option value="{{ lang.languages }}">{{ lang.languages }}</option>
          {% endfor %}
        </select><br>
        <br>
        <br>
        <label for="text_to_translate">Enter text here:</label>
        <input type="text" name="text_to_translate" value="Enter text" size="40px" style="font-size:16pt; height: 100px;"><br>
        <button type="submit">Translate</button><br><br>
      </form>
    </div>


    <form class="Form form1">
        <label for="translated_text">Translation here:</label>
        <input type="text" name="translated_text" value="{{translation_text|join('')}}" size="40px" style="font-size:16pt; height: 100px;"><br>
      </form>
      </div>

  <br>

      </body>
      </html>


