.form1 {
    text-align: center;
}

.form-control-2 {
    text-align: center;
}

.form-control-1 {
    text-align: center;
}

.logo {
    text-align: center;
  }
  .logo img {
    width: 10%;
    height: 20%;
  }

  img {
    border-radius: 50%}
